<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <title>Home Page</title>
  </head>
  <body>
    {{> header}}
    <p>{{screamIt welcomeMessage}}</p> <!--1st: name of function, 2nd: argument1 -->

    {{> footer}}
  </body>
</html>
