<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <title>my projects</title>
  </head>
  <body>
    {{> header}}
    <p>"my projects are:"</p> <!--1st: name of function, 2nd: argument1 -->

    {{> footer}}
  </body>
</html>
